*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(66, 69, 69);
    color: aliceblue;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 120px;
    border-radius: 20%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.choice:hover{
    opacity: 0.7;
    cursor: pointer;
    background-color:  rgb(66, 69, 69);
}

.scoreboard{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;
    font-size: larger;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.msgg{
    padding: 1rem;
    display: inline-block;
    background-color: rgb(137, 137, 103);
    font-size: larger;
    font-weight: 700;
    border-radius: 1rem;
    
}
.msg{
    display: inline;

}
.result{
    margin-top: 9rem;
    display: flex;
    gap: 16rem;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.cresult{
    background-color:  rgb(66, 69, 69);
    color: aliceblue;
    padding: 1rem;

}
.uresult{
    background-color:  rgba(68, 74, 74, 1);
    color: aliceblue;
    padding: 1rem;

}
#uchoice{
    color: rgb(177, 180, 181);
}
#cchoice{
    color: rgb(177, 180, 181);
}
#btn2{
    background-color: rgb(97, 104, 104);
    color: aliceblue;
    width: 4rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    top: 680px;
    
}